.portlet-people-publisher .basic-display-style .user-item .portrait {
  float: left; }
  .portlet-people-publisher .basic-display-style .user-item .portrait img {
    width: 35px; }
.portlet-people-publisher .basic-display-style .user-item .infos {
  display: inline-block;
  margin-left: 0.5em; }
.portlet-people-publisher .user-back-to {
  text-align: right; }
.portlet-people-publisher .user-content {
  clear: right;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 10px; }
  .portlet-people-publisher .user-content .user-description {
    clear: left;
    font-style: italic; }
.portlet-people-publisher .user-more {
  clear: left; }
.portlet-people-publisher .lfr-meta-actions {
  margin-right: 1em;
  padding-top: 0; }
.portlet-people-publisher .add-user-selector {
  margin-right: 0; }
.portlet-people-publisher .title-list .user-actions {
  left: 10px;
  position: relative; }
.portlet-people-publisher .title-list a {
  float: left; }
.portlet-people-publisher li.title-list {
  clear: both;
  list-style: none;
  margin-bottom: 0.15em;
  margin-right: 8px;
  padding-bottom: 1px; }
.portlet-people-publisher ul.title-list {
  margin-left: 0; }

.portlet-configuration .form .queryRules fieldset {
  padding: 0; }
  .portlet-configuration .form .queryRules fieldset legend {
    font-size: 1em;
    font-weight: normal;
    padding: 0; }
.portlet-configuration .form .lfr-form-row {
  background-color: #F3F3F3; }
  .portlet-configuration .form .lfr-form-row:hover {
    background-color: #DFFCCB; }
  .portlet-configuration .form .lfr-form-row .field {
    line-height: 2; }
    .portlet-configuration .form .lfr-form-row .field.tags-selector, .portlet-configuration .form .lfr-form-row .field.categories-selector {
      clear: both;
      line-height: 1.5;
      margin-top: 5px;
      width: 100%; }
.portlet-configuration .form .user-query-rule-error {
  background-color: #fee5e2; }
.portlet-configuration .form .general-display-settings {
  margin-bottom: 1em; }
.portlet-configuration .lfr-panel .lfr-panel-titlebar {
  margin-bottom: 0; }
.portlet-configuration .lfr-panel-content {
  background-color: #F8F8F8;
  padding: 10px; }
.portlet-configuration .add-user-selector {
  overflow: auto; }
.portlet-configuration .user-search {
  margin-bottom: 1em; }
.portlet-configuration .user-subtype, .portlet-configuration .user-subtypefields-wrapper-enable {
  margin-left: 2em; }
.portlet-configuration .user-subtypefields-wrapper {
  display: inline; }
.portlet-configuration .user-subtypefields-message {
  margin-left: 4em; }
.portlet-configuration .user-subtypefields-popup {
  color: #5B677D;
  cursor: pointer;
  text-decoration: underline; }
.portlet-configuration .user-subtypefield-selected {
  padding-top: 10px;
  margin-left: 6em; }
.portlet-configuration .select-user-selector {
  margin: 1em 0;
  overflow: auto; }
  .portlet-configuration .select-user-selector .select-existing-selector {
    margin: 0; }
  .portlet-configuration .select-user-selector button .add {
    background-image: url(@theme_image_path@/common/add.png);
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 20px; }

