.portlet-people-publisher {
	
	.basic-display-style {
	
		.user-item {
			.portrait {
				float: left;
				
				img {
					width: 35px;
				}
			}
		
			.infos {
				display: inline-block;
			  	margin-left: 0.5em
			}
			
		}
	
	}
	
	.user-back-to {
		text-align: right;
	}

	.user-content {
		clear: right;
		margin-bottom: 10px;
		margin-left: 25px;
		margin-right: 10px;

		.user-description {
			clear: left;
			font-style: italic;
		}
	}

	.user-more {
		clear: left;
	}

	.lfr-meta-actions {
		margin-right: 1em;
		padding-top: 0;
	}

	.add-user-selector {
		margin-right: 0;
	}

	.title-list {
		.user-actions {
			left: 10px;
			position: relative;
		}

		a {
			float: left;
		}
	}

	li.title-list {
		clear: both;
		list-style: none;
		margin-bottom: 0.15em;
		margin-right: 8px;
		padding-bottom: 1px;
	}

	ul.title-list {
		margin-left: 0;
	}
}

.portlet-configuration {
	.form {
		.queryRules fieldset {
			padding: 0;

			legend {
				font-size: 1em;
				font-weight: normal;
				padding: 0;
			}
		}

		.lfr-form-row {
			background-color: #F3F3F3;

			&:hover {
				background-color: #DFFCCB;
			}

			.field {
				line-height: 2;

				&.tags-selector, &.categories-selector {
					clear: both;
					line-height: 1.5;
					margin-top: 5px;
					width: 100%;
				}
			}
		}

		.user-query-rule-error {
			background-color: #fee5e2;
		}

		.general-display-settings {
			margin-bottom: 1em;
		}
	}

	.lfr-panel .lfr-panel-titlebar {
		margin-bottom: 0;
	}

	.lfr-panel-content {
		background-color: #F8F8F8;
		padding: 10px;
	}

	.add-user-selector {
		overflow: auto;
	}

	.user-search {
		margin-bottom: 1em;
	}

	.user-subtype, .user-subtypefields-wrapper-enable {
		margin-left: 2em;
	}

	.user-subtypefields-wrapper {
		display: inline;
	}

	.user-subtypefields-message {
		margin-left: 4em;
	}

	.user-subtypefields-popup {
		color: #5B677D;
		cursor: pointer;
		text-decoration: underline;
	}

	.user-subtypefield-selected {
		padding-top: 10px;
		margin-left: 6em;
	}

	.select-user-selector {
		margin: 1em 0;
		overflow: auto;

		.select-existing-selector {
			margin: 0;
		}

		button .add {
			background-image: url(@theme_image_path@/common/add.png);
			background-position: center left;
			background-repeat: no-repeat;
			padding-left: 20px;
		}

	}
}